.placar__humano {
    /* espacamento */
    padding: 2px;
    /* absolute */
    position: absolute;
    left: 0;
    top: 0;
    /* font */
    color: #fffcf9;
    font-size: .8rem;
    text-transform: uppercase;
    /* background */
    background-color: lightcoral;
    /* borda */
    border: 1px dashed rgb(190, 101, 101);
    /* shadow */
    box-shadow: 2px 2px 0px 0px rgba(119, 63, 63, 0.9);
    /* transform */
    transform: translate(-70%, 40%);
}