html,
body {
    /* tamanho */
    height: 100%;
}
* {
    /* espacamento */
    margin: 0;
    padding: 0;
    /* box */
    box-sizing: border-box;
}
*:not(.versus__paragrafo) {
    /* font */
    font-family: 'Roboto', sans-serif;
}