.maquina__escolha {
    margin: 10px auto;
    background-image: url(../../../../../images/icon.svg);
    transition: transform 1s, background-image 1s;
    transition-timing-function: ease, cubic-bezier(0.8, 0, 0, 5);
}